html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
}

#currentLocation {
    width: 20%;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 9;
    background-color: #2f4050;
    padding: 20px;
    color: #fff !important;
    opacity: 0.6;
}

#currentLocation h3 {
    margin: 0px 0 10px;
}

#currentLocation b {
    color: #1bbc9b;
}

@media (max-width: 768px) {
    #currentLocation {
        width: 50%;
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 9;
        background-color: #2f4050;
        padding: 20px;
        color: #fff !important;
        opacity: 0.5;
    }
}